video {
    object-fit: cover;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(80px);
    z-index: -1;
    filter: brightness(50%);
}

#text {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 350%;
    font-family: 'Kanit', sans-serif;
    color: #72cfc3;
    text-shadow: 2px 2px 8px #000000;
}

h1 {
    margin-bottom: -7%;
}

::selection {
    color: rgb(0, 197, 148);
    background: rgb(33, 83, 73);
}

#bottom_imprint {
    position: fixed;
    bottom: 2%;
    width: 100%;
}

#flex_imprint {
    display: flex;
    justify-content: center;
}

#anchor_text {
    font-size: 135%;
    font-family: 'Kanit', sans-serif;
    color: #4a8880;
    text-shadow: 2px 2px 8px #000000;
    text-decoration: none;
}